.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.chat_header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 20px;
}

.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat_headerInfo h3 {
  font-weight: 500;
}

.chat_headerInfo p {
  color: rgb(145, 142, 142);
}

.chat_body_parent {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.chat_body {
  height: 100%;
  width: 98%;
  padding: 16px;
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  /* padding: 30px; */
  overflow-y: auto;
  box-sizing: content-box;
}

.chat_message {
  position: relative;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 15px;
  width: fit-content;
}

.chat_receiver {
  margin-left: auto;
  background-color: rgb(115, 180, 183);
}

.chat_name {
  position: absolute;
  top: 0px;
  font-weight: 750;
  font-size: xx-small;
  color: cornflowerblue;
}

.chat_nameReceiver {
  color: white;
}

.chat_timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightblue;
}

.chat_footer form {
  display: flex;
  flex: 1;
}

.chat_footer form input {
  border-radius: 12px;
  flex: 1;
  padding: 15px;
  border: none;
}

.chat_footer form input:focus {
  outline: none;
}

.chat_footer form button {
  display: none;
}

.chat::-webkit-scrollbar {
  display: none;
}
