@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.shadow-custom {
  filter: drop-shadow(2px 2px 1px rgba(113, 110, 107, 0.4));
}

button {
  -webkit-tap-highlight-color: transparent;
}

div {
  -webkit-tap-highlight-color: transparent;
}

.hide-scrollbar-custom {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hide-scrollbar-custom::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.hide-scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}

.hide-scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.shadow-plain {
  box-shadow: 0px 2px 2px #15488f;
}

.orange-bg {
  background-color: #fda4af;
  margin-left: auto;
}
